@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@font-face {

  font-family: 'Raleway';

  src: url(../css/raleway.bold.ttf);

}



* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

  text-decoration: none;

}





body {

  font-size: 100%;

  background: #E7E7E7;

  
}



li {

  list-style: none;

}



h2 {

  font-family: 'Raleway', sans-serif;

  font-weight: 700;

}



.cabecalho-menu a {

  text-decoration: none;

  color: white;

}



.cabecalho-escrito {

  margin-top: 2em;

}



.logo-menu {

  width: 8em;



  position: absolute;

  top: 0;

  left: 0;



  margin: auto;

  margin-left: 2.2em;

  margin-top: 0.7em;



}



.cabecalho-escrito a:hover {

  color: white;

  text-decoration: underline;

}



.cabecalho {

  display: flex;

  justify-content: space-around;

  background: url(../assets/banner-portfolio.jpg);

  background-size: cover;

  height: 100vh;



}



.cabecalho-menu {

  display: flex;

  margin-left: 50em;

  gap: 3em;

  font-family: 'Sarala', sans-serif;

  font-weight: 500;

  font-size: 22px;

}



#containerBanner {

  position: relative;



}



.conteudo-principal {

  position: absolute;

  top: 50vh;

  max-width: 60em;

  margin-left: 50px;

}



.conteudo-principal h2 {

  font-size: 3em;

  color: white;

  font-family: 'Raleway', sans-serif;

}



span {

  color: #4de4cf;

}



.conteudo-principal p {

  font-size: 1.5em;

  color: white;

}



.botao {

  border: 1px solid #42CBBD;

  box-sizing: border-box;

  border-radius: 5px;



  font-family: 'Raleway', sans-serif;

  font-weight: 400;

  color: #42CBBD;



  background-color: rgba(0, 0, 0, 0.25);

  padding: 1em;



  margin-top: 2em;

}





/* projetos */

.projetos {

  padding-top: 3em;

}



.conteudo-projetos {

  display: flex;

  justify-content: center;

  gap: 10em;

  padding-top: 1em;

  margin-bottom: 10em;

}



.projetos-titulo {

  font-family: 'Raleway', sans-serif;

  font-weight: 700;

  text-align: center;

  font-size: 2.5em;

  padding: 1em;

  color: #525252;

  text-transform: uppercase;

}



.projetos-landing-page {

  max-width: 30em;

  text-align: center;

}





.projetos-lp-subtitulo {

  font-size: 2em;

  padding: 0.5em;

  color: #7C7B7B;

}



.projetos-formulario-login {

  max-width: 30em;

  text-align: center;

}



.projetos-fl-subtitulo {

  font-size: 2em;

  padding: 0.5em;

  color: #7C7B7B;

}



.projetos-lp-paragrafo {

  display: flex;

  flex-direction: column;

  font-family: 'Sarala', sans-serif;

  font-weight: 500;

  font-size: 1.3em;

  padding: 0.5em;

  color: #525252;

}



.projetos-fl-paragrafo {

  display: flex;

  flex-direction: column;

  font-family: 'Sarala', sans-serif;

  font-weight: 500;

  font-size: 1.3rem;

  padding: 0.5em;

  color: #525252;

}



.projetos-crud {

  max-width: 25em;

  text-align: center;

  color: #7C7B7B;

}



.projetos-crud-paragrafo {

  display: flex;

  flex-direction: column;

  font-family: 'Sarala', sans-serif;

  font-weight: 500;

  font-size: 1.3rem;

  padding: 0.5em;

  color: #525252;

}



.projetos-crud-subtitulo {

  font-size: 2em;

  padding: 0.5em;

  color: #7C7B7B;

}



#botao-lp {

  border: 1px solid #42CBBD;

  box-sizing: border-box;

  border-radius: 5px;



  font-family: 'Raleway', sans-serif;

  font-weight: 400;

  color: #42CBBD;



  background-color: rgba(0, 0, 0, 0);

  padding: 0.5em;

}



#botao-fl {

  border: 1px solid #42CBBD;

  box-sizing: border-box;

  border-radius: 5px;



  font-family: 'Raleway', sans-serif;

  font-weight: 400;

  color: #42CBBD;



  background-color: rgba(0, 0, 0, 0);

  padding: 0.5em;

}



#botao-crud {

  border: 1px solid #42CBBD;

  box-sizing: border-box;

  border-radius: 5px;



  font-family: 'Raleway', sans-serif;

  font-weight: 400;

  color: #42CBBD;



  background-color: rgba(0, 0, 0, 0);

  padding: 0.5em;

}



/* sobre mim */

.imagem-sobre-mim {

  height: 510px;

}



.sobre-mim {

  display: flex;

  margin-left: 10em;

  gap: 10em;

  align-items: center;

  margin-top: 13em;

}



.conteudo-sobre-mim {

  display: flex;

  flex-direction: column;

  /* border: 0.1em solid #525252;

    box-sizing: border-box;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2em);

    border-radius: 23px; */

  width: 50em;

}



.conteudo-sm-titulo {

  font-size: 2em;

  padding: 1em;

  color: #525252;

}



.conteudo-sm-paragrafo {

  font-family: 'Sarala', sans-serif;

  font-weight: 400;

  font-size: 1.3em;

  padding: 1.5em;

}





/* cursos realizados */

.cursos-realizados {

  display: flex;

  justify-content: center;

  gap: 15em;

  padding-top: 13em;

  margin-bottom: 10em;

}



.conteudo-cr-titulo {

  font-size: 2.5em;

  padding: 1em;

  color: #525252;

}



.conteudo-cr-paragrafo {

  font-family: 'Sarala', sans-serif;

  font-weight: 500;

  font-size: 1.3em;

  padding: 1em;

}



.conteudo-cr-imagem {

  height: 353px;

}



/* 

.rodape{

}



.rodape-conteudo{

    display: flex;

    height: 105px;

}



.home {

    display: flex;

    padding: 8px;

    box-sizing: border-box;

    border-radius: 8px;

    width: 50px;

    height: 50px;

    background-color: rgb(196, 0, 163);  

    text-decoration: none;

    color: white;

    text-align: center;

    position: fixed;

    font-family: Cambria, sans-serif;

}

.home:hover{

    color: white;

    background: rgb(146, 3, 122); ;

} */

@media (max-width: 700px){

    .cabecalho, .cabecalho-escrito, .cabecalho-menu{

        width: 100%;
    }
    
    .cabecalho-menu{
        display: inline;
        
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding-left: 1em;


       background: rgba(255,255,255,0.1);
       backdrop-filter: blur(5px);
       -webkit-backdrop-filter: blur(5px);
       
      
    }
    .cabecalho-escrito{
        margin-top: 0;
        padding-top: 0.7em;
        font-size: 1em;
    }
    .logo-menu{
        width: 7em;
        position: relative;
        display: block;
        margin: auto;
        
        border-bottom: 1px solid #42CBBD;
        box-sizing: border-box;
    }
    .botao{
      font-size: 0.9em;
    }


    .conteudo-principal{
        width: 100%;
        margin-left: 1em;
        max-width: 23em;
        margin-top: 5em;
    }
    .conteudo-principal h2{
        font-size: 1.8em;
        width: 10em;
    }
    .conteudo-principal p{
      font-size: 1em;
   
    }


    .conteudo-projetos{
        display: inline-block;
        padding-left: 1em;
    }
    .projetos-titulo{
        font-size: 2.3em;
    }
    .projetos-lp-subtitulo{
        font-size: 1.5em;
    }
    .projetos-fl-subtitulo{
        font-size: 1.5em;
    }
    .projetos-crud-subtitulo{
        font-size: 1.5em;
    }
    .projetos-lp-paragrafo{
        font-size: 1.2em;
    }
    .projetos-fl-paragrafo{
        font-size: 1.2em;
    }
    .projetos-crud-paragrafo{
        font-size: 1.2em;
    }


    .sobre-mim{
        max-width: 25em;
        display: inline-block;
        margin-left: 1em;
        margin-top: 5em;
    }
    .conteudo-sm-titulo{
        font-size: 2.3em;
    }
    .sobre-mim p{
        font-size: 1.3em;
        max-width: 100vw;
    }
    .imagem-sobre-mim{
        width: 100%;
        height: 100%;
        
        
    }


    .cursos-realizados{
        display: inline-block;
        margin-left: 2em;
    }
    .conteudo-cursos-realizados h2{
        font-size: 2.3em;
    }
    .conteudo-cursos-realizados p{
        font-size: 1.3em;
    }
    .conteudo-cr-imagem{
        display: block;
        margin: auto;
        width: 100%;
        height: 100%;
        max-width: 15em;
    }
}